h2 {
  color: black;
  font-size: 14pm;
  margin: 100px;
  text-decoration-line: underline;
  text-align: center;
}
.meetus-p{
  color: black;
  text-align:center;
  margin-top: 15px;
}
h1{
  text-align: center;
}
.img-portrait{
  width:1000px;
}
